@{
    ViewData["Title"] = "Home Page";
}


<div class="background_image">

   <link rel="stylesheet" href="/css/site.css" />


</div>

<div class="text-center font">
    <h1 class="display-4 font">Bored Panda</h1>
    <p>Life is never boring, but some people choose to be bored..</p>
   


    <div>
    <a class="btn btn-outline-secondary my-3 text-fancy semi-circle text-center font" href="Home/ViewActivity">Activity</a> &nbsp;
    </div>
   
    
    <label for="course">Fun Times Loading:</label>
<progress id="course" value="67" max="100"></progress> 67%
    
 
    <!--   <img class="img-fluid"  src="~/output-onlinegiftools (2).gif" />
</div> -->






