<html>
<head>
    <title>Welcome to My ASP.NET Core Application</title>
</head>
<body>
    <h1>Welcome to My ASP.NET Core Application!</h1>

    <div class="background_image">
        <link rel="stylesheet" href="~/css/site.css" />
    </div>

    <div class="text-center font">
        <h1 class="display-4 font">Botanica Premium Services</h1>
        <p></p>

        <div>
            <!-- Add a clickable link to your index page -->
            <a href="WeedStrains/Index">Click here to go to the WeedStrains Page</a>
        </div>

        <label for="course">Fun Times Loading:</label>
        <progress id="course" value="67" max="100"></progress> 67%
    </div>
</body>
</html>
